@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row-fluid">
        <div class="span8">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2486.3519471200834!2d5.47940841558666!3d51.45169432259589!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c6d92199730073%3A0x2a4de046a5d850af!2sRachelsmolen+1%2C+5612+MA+Eindhoven!5e0!3m2!1snl!2snl!4v1483869645293" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
        </div>

        <div class="span4">
            <address>
                <strong>MobielKopen.nl</strong><br>
                Rachelsmolen 1<br>
                Eindhoven<br>
                5612MA<br>
                Nederland<br>
                358092@student.fontys.nl<br>
                08850 80000
            </address>
        </div>
    </div>
</div>